/Presentation/Nop.Web/obj
/.vs
/Libraries/Nop.Data/obj
/Libraries/Nop.Services/obj
/Presentation/Nop.Web.Framework/obj
/Presentation/Nop.Web/bin
/Tests
/obj
obj
/Presentation/Nop.Web/Debug
/Presentation/Nop.Web.Framework/bin
/Libraries/Nop.Core/obj
/Plugins/Nop.Plugin.Misc.WebApi.Frontend/obj
