@model ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}
<div id="root">
    <h1>Hello Raste Bazar</h1>
    <form>
        <input type="text" name="PageName" />
        <input type="text" name="PageTitel" />
    </form>
</div>